* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: Ubuntu;
  font-size: 13px;
  font-weight: bold;

}

window#waybar {
  background-color: #282c34;
  transition-property: background-color;
  transition-duration: 0.5s;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  min-width: 0;
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */
  padding: 2px 12px;
  margin: 4px 3px;
  border-radius: 4px;
  background-color: #1e1e2e;
  color: #cdd6f4;
}

#workspaces button.active {
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #1e1e2e;
  background-color: #cdd6f4;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#cpu,
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#clock,
#tray {
  border-radius: 4px;
  margin: 4px 3px;
  padding: 2px 12px;
  background-color: #202030;
  color: #787c74;
}

#custom-power {
  margin-right: 6px;
  background-color: #f2cdcd;
}

#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}
/*
#cpu {
  background-color: #98be65;
}


#memory {
  background-color: #282c34;
}

#battery {
  background-color: #f38ba8;
}
*/
#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff6c6b;
  color: #f1fa8c;
}

#battery.charging {
  background-color: #98be65;
  color: #181825;
}

#backlight {
    background-color: #ff6c6b;
}

#wireplumber {
  background-color: #46d9ff;
}

#network {
  background-color: #98be65;
  padding-right: 17px;
}
/*
#clock {
  background-color: #cba6f7;
}
*/
tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #131822;
}

tooltip label {
  padding: 5px;
  background-color: #131822;
}

